# Trabajo con fechas

In [ ]:
import pandas as pd
import numpy as np
import datetime

from datetime import date, datetime, time, timezone

datetime(2021, 7, 7, 0, 0)

In [ ]:
datetime(2021, 7, 7, 15, 50)

In [ ]:
d = date(2021, 7,7)
t = time(13, 26, 10)
datetime.combine(d, t)

In [ ]:
datetime.now()

In [ ]:
datetime.now(timezone.utc)

In [ ]:
datetime.now().date()

In [ ]:
datetime.now().time()

## Timestamp

In [ ]:
pd.Timestamp('2017, 1, 5')

In [ ]:
pd.Timestamp("2017, 5, 3, 12:00")

In [ ]:
pd.Timestamp("12:00")

## Timedelta

In [ ]:
my_birth = datetime(1973, 7, 7)
today = datetime.today()
tomorrow = today + pd.Timedelta(days=1)

print(tomorrow - my_birth)

In [ ]:
my_birth - today

In [ ]:
today = datetime.today()
data = today + pd.Timedelta(hours=10)
print(today)
print(data)

## Periods

In [ ]:
special_day = pd.Period('1973-7', freq="M")
special_day

In [ ]:
special_day.start_time

In [ ]:
special_day.end_time

In [ ]:
n = special_day + 2

print(special_day)
print(n)

In [ ]:
n.start_time, n.end_time

In [ ]:
import pandas_datareader.data as web

start = datetime(1950, 1, 1)
end = datetime(2022, 5, 21)
wti = web.DataReader('DCOILWTICO', 'fred', start, end)
wti.head()

In [ ]:
wti.info()

In [ ]:

wti = wti.reset_index()
wti

In [ ]:
wti.info()

In [ ]:
wti["N_DATE"] = pd.to_datetime(wti.DATE)
wti.N_DATE

In [ ]:
wti.head()

In [ ]:
df = wti.drop(["DATE"], axis=1)
df.head()

In [ ]:
df.set_index("N_DATE", inplace=True)
df.head()

In [ ]:
df.info()

In [ ]:
df["2016-11-04": '2016-11-10']

## date_range

In [ ]:
pd.date_range(start="2021-01-01", end=None, periods=5, freq="D", tz=None)

In [ ]:
pd.date_range(start="2021-01-01", end=None, periods=5, freq="D", tz="Asia/Seoul")

In [ ]:
pd.date_range(start="2021-01-01", end=None, periods=5, freq="M", tz=None)

In [ ]:
pd.date_range(start="2021-01-01", end=None, periods=5, freq="Ms", tz=None)

In [ ]:
pd.date_range(start="2020-1-1", end="2020-12-31", periods=None, freq="M")

In [ ]:
p_data = pd.period_range(start="2020-1-1",
                         end="2020-12-31",
                         periods=None,
                         freq="M")
p_data

In [ ]:
for i in p_data:
  print("{0} {1}".format(i.start_time, i.end_time))

# Rolling Window Calculations

In [ ]:
!pip install --upgrade pandas_datareader
!pip install yfinance

In [ ]:
import pandas_datareader.data as web
import yfinance

start = datetime(2020,1,1)
end = datetime(2020, 12, 31)

sec = yfinance.download('005930.KS',
                        start=start,
                        end=end)
sec.head()

In [ ]:
sec.info()

In [ ]:
ma5 = sec["Adj Close"].rolling(window=5).mean()
ma5.head(10)

In [ ]:
import matplotlib.pyplot as plt

close = sec["Adj Close"]
ma5 = sec["Adj Close"].rolling(window=5).mean()
ma10 = sec["Adj Close"].rolling(window=10).mean()
ma60 = sec["Adj Close"].rolling(window=60).mean()
ma120 = sec["Adj Close"].rolling(window=120).mean()

plt.figure(figsize=(15,10))
plt.plot(close, label="close", linewidth=4)
plt.plot(ma5, label="5 window")
plt.plot(ma10, label="10 window")
plt.plot(ma60, label="60 window")
plt.plot(ma120, label="120 window")

plt.legend()
plt.title("Rolling window calculations")
plt.xlabel("Date")
plt.ylabel("close price")